{% load staticfiles %}
<div class="banner">
      <div id="slide-holder">
        <div id="slide-runner">
		<a href="/" target="_blank"><img id="slide-img-1" src="{% static 'images/a11.jpg' %}"  alt="" /></a> 
		<a href="/" target="_blank"><img id="slide-img-2" src="{% static 'images/a12.jpg' %}"  alt="" /></a> 
		<a href="/" target="_blank"><img id="slide-img-3" src="{% static 'images/a13.jpg' %}"  alt="" /></a> 
		<a href="/" target="_blank"><img id="slide-img-4" src="{% static 'images/a14.jpg' %}"  alt="" /></a>
		
          <div id="slide-controls">
            <p id="slide-client" class="text">
			<strong></strong>
			<span></span>
			</p>
            <p id="slide-desc" class="text"></p>
            <p id="slide-nav"></p>
          </div>
        </div>
      </div>
      <script>
    if(!window.slider) {
    var slider={};
  }

  slider.data= [
    {
        "id":"slide-img-1", // 与slide-runner中的img标签id对应
        "client":"贡嘎徒步",
        "desc":"于2015年10月" //这里修改描述
    },
    {
        "id":"slide-img-2",
        "client":"川西小环线骑行",
        "desc":"于2014年4月"
    },
    {
        "id":"slide-img-3",
        "client":"贡嘎徒步",
        "desc":"于2015年10月"
    },
    {
        "id":"slide-img-4",
        "client":"川西小环线骑行",
        "desc":"于2014年4月"
    },

  ];

    </script>
    </div>
    <!-- banner代码 结束 -->